<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix="-test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist
			processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
			<exclude>
				<directory suffix=".php">./tests/</directory>
				<directory suffix=".php">./tpl/</directory>
				<directory suffix=".php">./src/plugin-update-checker/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
